/* MAIN  CSS */

body {
  font-family: sans-serif;
}

header {
  text-align: center;
  height: 15vh;
  padding: 10px;
}

.row {
  padding-top: 10px;
}

.city-header {
  padding-top: 5px;
}

ul {
  padding-bottom: 10px;
}

#left-column {
  height: 92vh;
  background-color: whitesmoke;
}

#right-column {
  background-color: white;
}

.card {
  border: none;
}

.card-body {
  border: 1px solid #e5e5e5;
}
