body {
  font-family: sans-serif;
}

header {
  text-align: center;
  padding: 10px;
}

.row {
  padding-top: 10px;
}

.city-header {
  padding-top: 5px;
}

ul {
  padding-bottom: 10px;
}

#left-column {
  height: 92vh;
  background-color: whitesmoke;
}

#right-column {
  background-color: white;
}
